.mob__menu{
    position: fixed;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 320px;
    height: 100%;
    background-color: beige;
    padding: 50px ;


   &--list{
    margin-bottom: 64px;
   }

   &--item{
    margin-bottom: 24px;
    }
    &--item:last-child{
        margin-bottom: 0;
    }

    &--tell{
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;

    }

    &--tell__link{
        margin-bottom: 24px;
    }

    &--soc__item{
        margin-bottom: 24px;
    }

   

   
}