.mob__menu{
    position: fixed;
    top:0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 320px;
    height: 100%;
    padding: 50px ;

    transform: translateX(100%);
    transition: transform $pr-transition;

    visibility: hidden;
    pointer-events: none;
    overflow: scroll;


    background-color: beige;

    &.is-open{
        transform: translateX(0);
       
            
        visibility: visible;
        pointer-events: auto;
        
    }
    


   &--list{
    margin-bottom: 64px;
   }

   &--item{
    margin-bottom: 24px;
    }
    &--item:last-child{
        margin-bottom: 0;
    }

    &--tell{
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;

    }

    &--tell__link{
        margin-bottom: 24px;
    }

    &--soc__item{
        margin-bottom: 24px;
    }

   

   
}




// max-width-767px
@media screen and (min-width:767px){
    .mob__menu{
        display: none;
    }

    .btn__mobile{
        display: none;
    }
}


