

    // background
    $bg-light:#fff;
    $bg-light-grey:#E5E5E5;
    $bg-mid-light-grey:#F7F7F7;



    // text
    $txt-light:#fff;
    $txt-mid:#555555;
    $txt-dark:#303030;

    // logo
    $logo:#000000;

    // akcent-color
    $actcent-col:#FF6C00;


    // transition 
    $pr-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

















 $pr-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);